.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gist-table-div{
  width: 50%;
  margin: 3rem auto 0 auto;
}

.home-content-div{
  margin: 5rem auto 0 auto;
}

.search-gists-button{
  margin-top: 1rem !important;
  margin-left: 1rem !important;
  color: white !important;
  background-color: rgba(97, 90, 207, 0.925) !important;
}

.details-div{
  width: 30%;
  margin: 3rem auto 0 auto;
}

.detail-back-button{
  margin-right: 90% !important;
  color: rgba(39, 26, 226, 0.925) !important;
}

 .files-label {
  text-align: left;
}